

#mainContacto{
    display: flex;
    flex-flow: column nowrap;
    gap: 2vh;
    padding: 5.5%;
    min-height: 80vh !important;
    h1{
        text-align: center !important;
        color: map-get($colours, brown2);
        font-weight: normal;
        margin: 5vh 0vw;
    }
    p{
        text-align: left;
    }
    fieldset{
        background-color: map-get($colours, background);
        border-radius: 20px;
        border: none;        
    }
}