
#mainIndex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    row-gap: 2vh;
    #hero {
        z-index: 1;
        height: 90vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
        @media (orientation: portrait){
            background-image: url(../Images/hero-01.png);
            background-position: bottom;
            background-size: contain;
        }
        @media (orientation: landscape){
            background-image: url(../Images/hero-02.png);
            background-position: center;
            background-size: 70%;
        }
    }
    #info{
        @media (max-width: 992px){
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding: 5vh 5vw;
            row-gap: 5vh;
        }
        @media (min-width: 992px){
            display: grid;
            align-content: center;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 5vw;
            row-gap: 15vh;
        }
        div{
            p{
                font-style: italic;
                text-align: center;
                z-index: 1;
                font-weight: 500;
            }
            iframe{
                z-index: 1;
                border-radius: 20px;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
        }
        #indexStuff{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: 2%;
            .buttons{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                width: 90%;
                background-color: map-get($colours, gold);
                min-height: 5%;
                border-radius: 20px;
                a{
                    p{
                        color: map-get($colours, platinum);
                        margin: 0px;
                    }
                    text-transform: capitalize;
                    text-decoration: none;
                }
            }
            @media (max-width: 992px){
                #recipes{
                    .carousel{
                        border-radius: 20px;
                        img{
                            max-height: 80vh;
                            border-radius: 20px;
                        }
                    }
                }    
            }
            @media (min-width: 992px){
                grid-row: 1;
                grid-column: 1;
                #recipes{
                    max-height: 80%;
                    .carousel{
                        border-radius: 20px;
                        img{
                            max-height: 80vh;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
        #maps{
            @media (max-width: 992px){
                margin-top: 10vh;
                iframe{
                    max-height: 90%;
                    max-width: 100%;
                }
            }
            @media (min-width: 992px){
                grid-row: 1;
                grid-column: 2;
                height: 110%;
                iframe{
                    min-height: 94.5%;
                }
            }
        }
        #videoCafe{
            p{
                text-align: justify;
            }
            @media (max-width: 992px){
                height: auto;
                iframe{
                    max-height: 90%;
                    max-width: 100%;
                }
            }
            @media (min-width: 992px){
                grid-row: 2;
                grid-column: 1 / span 2;
                p{
                    padding: 0vh 3vw;
                }
                iframe{
                    height: 80%;
                    min-width: 100%;
                }
            }
        }
    }
}