
#mainSuscription{
    display: flex;
    flex-flow: column nowrap;
    gap: 2vh;
    padding: 5.5%;
    h1{
        text-align: center !important;
        color: map-get($colours, brown2);
        font-weight: normal;
        margin: 5vh 0vw;
    }
    p{
        text-align: justify;
    }
    #adress{
        border-radius: 20px;
        border:solid 0.2vh map-get($colours, brown2);
    }
    #coffeeQuant{
        border-radius: 20px;
    }
    #coffeeQuant:focus {
        border: 3px solid map-get($colours, gold) !important;
    }
}