* {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 454px){

    body {
        width: 100vw;
        height: 100%;
        grid-template-rows: 10vh auto 10vh;
        background-color: #d6dbdfff;
        font-family: 'Quicksand';
        display: grid;
        overflow-x: hidden;
        justify-content: center;
    }

    .icon1 { /*small icons*/
        width: 10%;
        height: auto;
    }

    .icon2 { /*bigger icons*/
        width: 15%;
        height: auto;
    }

    /*nav menu starts*/

    header {
        z-index: 3;
        grid-row: 1;
        gap: 45%;
        top: 0%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: #361307;
        position: sticky;
    }

    #logoHome {
        width: 40%;
        height: 100%;
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        justify-items: flex-start;
        align-items: center;
    }

    #logoHome img {
        height: 8vh;
        width: auto;
        transition: height 1s;
    }

    #logoHome img:hover {
        height: 10vh;
        width: auto;
    }

    h2 {
        color: #E8E9EB;
        text-align: right;
        font-size: 7vw;
    }

    h2:hover {
        animation-name: hoveringText;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    @keyframes hoveringText {
        from {color: #E8E9EB;}
        to {color: #D19C1D;}
    }

    /* pop up menu */

    .dropMenu {
        width: 7vw;
        height: 30%;
    }
    
    .dropMenu img {
        width: 100%;
        height: auto;
    }

    #dropButton {
        top: 33%;
        width: 7vw;
        height: 36%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    #dropButton:hover #menu{
        transform: translateX(50vw);
        opacity: 1;
    }

    #menu {
        width: 50vw;
        height: 90vh;
        top: 6.7vh;
        left: -53vw;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        background-color: #240D05;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        gap: 55%;
        transition: opacity 2s, transform 2s;
    }

    .sections {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        margin: 0vh 2vw;
        gap: 5vh;
    }

    .buttonText{
        color: #E8E9EB;
        text-align: justify;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Quicksand';
        height: 100%;
        font-size: 4vw;
    }

    /* contact */

    #formasContacto {
        display: flex;
        flex-flow: row wrap ;
        justify-content: space-evenly;
        align-items: center;
    }

    #formasContacto li {
        list-style-type: none;
        flex: 1;
        margin: 3.5% 0% 3% 0%;
        max-height: 4vh;
        max-width: 4vh;
    }

    #formasContacto li a img { /*contact icons*/
        max-height: 4vh;
        max-width: 4vh;
    }

    /* contact ends */

    /* pop up menu ends */

    /*nav menu ends*/

    /* main contenten */

    main{
        padding: 1vh 4vw;
        gap: 5vh;
        grid-template-rows: repeat(15, auto);
        display: grid;
    }

    h1{
        margin-bottom: 2vh;
        font-size: 6vw;
        color: #240D05;
        text-transform: capitalize;
        font-weight: bolder;
    }

    h3{
        margin-bottom: 2vh;
        font-size: 6vw;
        color: #240D05;
        text-transform: capitalize;
        font-weight: bolder;
    }

    h4{
        margin-bottom: 2vh;
        font-size: 5vw;
        color: #240D05;
        text-transform: capitalize;
        font-weight: bolder;
    }

    h5{
        margin: 2vh 0vh;
        font-size: 4.5vw;
        color: #240D05;
        text-transform: capitalize;
        font-weight: bolder;
    }

    p{
        font-size: 3.7vw;
        text-align: justify;
    }

    li{
        font-size: 3.7vw;
        margin: 2vh 0vw 2vh 3vw;
        list-style: none;
    }

    #aboutUs{
        grid-row: 1;
    }

    #coffeeShop{
        grid-row: 2;
    }

    #introcoffee{
        grid-row: 3;
    }

    #coffeeSpecies{
        grid-row: 4;
    }

    /* table comparing */

    #tableSpecies{
        width: 90vw;
        gap: 1vh;
        display: flex;
        flex-flow: column nowrap;
    }

    #tableSpecies li{
        font-size: 3.7vw;
        margin: 2vh 0vw 2vh 3vw;
    }

    /* table comparing ends */

    #fruta{
        grid-row: 5;
    }

    #handpick{
        grid-row: 6;
    }

    #drying{
        grid-row: 7;
    }

    #washedDrying{
        grid-row: 8;
    }

    #greenBeans{
        grid-row: 9;
    }

    #toasting{
        grid-row: 10;
    }

    #toastedBeans{
        grid-row: 11;
    }

    #toastedProces{
        grid-row: 12;
    }

    #torrado{
        grid-row: 13;
    }

    #barista{
        grid-row: 14;
    }

    #baristaPics{
        grid-row: 15;
    }

    /* polaroid style */

    .imageGallery{
        width: 100%;
        gap: 2vw;
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
        align-items: stretch;
    }

    .imageGallery .polaroid{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1vh 2vw;
    }

    .imageGallery .polaroid img{
        max-width: 88.1vw;
        height: auto;
    }

    .polaroid{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1vh 2vw 1vh 3vw;
        max-width: 89vw;
    }

    .polaroid img{
        max-width: 86vw;
        height: auto;
    }

    .container p{
        text-align: center;
        text-transform: capitalize;
        font-style: italic;
    }

    /* polaroid style ends */

    /* main contenten ends */

    /* footer */

    footer {
        z-index: 2;
        grid-row: 3;
        gap: 2%;
        background-color: #E8E9EB;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        font-family:'Quicksand';
    }

    footer p{
        text-align: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: #361307;
        font-weight: lighter;
        text-transform: uppercase;
        gap: 5%;
    }

    #copyright {
        grid-row: 1;
        grid-column: 1;
        font-size: 3vw;
    }

    #phone {
        grid-row: 1;
        grid-column: 2;
        font-size: 3vw;
    }

    #slogan {
        grid-row: 2;
        grid-column: 1 / span 2;
        font-size: 4.5vw;
    }

    /* footer ends */

}

@media (min-width: 454px) and (max-width:  1280px){

    body {
        width: 100vw;
        height: 100%;
        grid-template-rows: 10vh auto 10vh;
        background-color: #d6dbdfff;
        font-family: 'Quicksand';
        display: grid;
        overflow-x: hidden;
        justify-content: center;
    }

    .icon1 { /*small icons*/
        width: 5%;
        height: auto;
    }

    .icon2 { /*bigger icons*/
        width: 15%;
        height: auto;
    }

    /*nav menu starts*/

    header {
        z-index: 3;
        grid-row: 1;
        gap: 75%;
        top: 0%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: #361307;
        position: sticky;
    }

    #logoHome {
        width: 40%;
        height: 100%;
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        justify-items: flex-start;
        align-items: center;
    }

    #logoHome img {
        height: 8vh;
        width: auto;
        transition: height 1s;
    }

    #logoHome img:hover {
        height: 10vh;
        width: auto;
    }

    h2 {
        color: #E8E9EB;
        text-align: right;
        font-size: 4vh;
    }

    h2:hover {
        animation-name: hoveringText;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    @keyframes hoveringText {
        from {color: #E8E9EB;}
        to {color: #D19C1D;}
    }

    /* pop up menu */

    .dropMenu {
        margin-left: 5vh;
        width: 6vw;
        height: 3vw;
    }
    
    .dropMenu img {
        width: 100%;
        height: auto;
    }

    #dropButton {
        width: 3vw;
        height: 3vw;
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    #dropButton:hover #menu{
        transform: translateX(50vw);
        opacity: 1;
    }

    #menu {
        width: 30vw;
        height: 90vh;
        top: 7vh;
        left: -54vw;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        background-color: #240D05;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        gap: 50%;
        transition: opacity 2s, transform 2s;
    }

    .sections {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        list-style: none;
        gap: 5vh;
    }

    .buttonText{
        color: #E8E9EB;
        text-align: justify;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Quicksand';
        height: 100%;
        font-size: 2vh;
    }

    .buttonText:hover {
        animation-name: hoveringText;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    /* contact */

    #formasContacto {
        display: flex;
        flex-flow: row wrap ;
        justify-content: space-evenly;
        align-items: center;
    }

    #formasContacto li {
        list-style-type: none;
        flex: 1;
        margin: 3.5% 0% 3% 0%;
        max-height: 4vh;
        max-width: 4vh;
    }

    #formasContacto li a img { /*contact icons*/
        max-height: 4vh;
        max-width: 4vh;
    }

    /* contact ends */

    /* pop up menu ends */

    /*nav menu ends*/

    /* main contenten */

    main{
        width: 92vw;
        padding: 5vh 2vw;
        column-gap: 0vh;
        row-gap: 4vh;
        grid-template-rows: repeat(9, auto);
        grid-template-columns: repeat(3, auto);
        display: grid;
    }

    h1{
        margin-bottom: 2vh;
        font-size: 4vw;
        color: #240D05;
        text-transform: capitalize;
        font-weight: bolder;
    }

    h3{
        margin-bottom: 2vh;
        font-size: 4vw;
        color: #240D05;
        text-transform: capitalize;
        font-weight: bolder;
    }

    h4{
        margin-bottom: 2vh;
        font-size: 3vw;
        color: #240D05;
        text-transform: capitalize;
        font-weight: bolder;
    }

    h5{
        margin: 2vh 0vh;
        font-size: 2.5vw;
        color: #240D05;
        text-transform: capitalize;
        font-weight: bolder;
    }

    p{
        font-size: 1.5vw;
        text-align: justify;
    }

    li{
        font-size: 1.5vw;
        margin: 2vh 0vw 2vh 3vw;
        list-style: none;
    }

    #aboutUs{
        grid-row: 1;
        grid-column: 1 / span 2;
        width: 50vw;
    }

    #coffeeShop{
        grid-row: 1;
        grid-column: 3;
    }

    #introcoffee{
        grid-row: 2;
        grid-column: 1 / span 3;
    }

    #coffeeSpecies{
        grid-row: 3;
        grid-column: 1 / span 2;
        width: 60vw;
    }

    /* table comparing */

    #tableSpecies{
        width: 90%;
        column-gap: 5%;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        justify-items: start;
        align-items: center;
        justify-content: space-between;
    }

    #tableSpecies p{
        font-size: 1.3vw;
    }

    #title1{
        grid-row: 1;
        grid-column: 1;
    }
    
    #title2{
        grid-row: 1;
        grid-column: 2;
    }
    
    #oneOne{
        grid-row: 2;
        grid-column: 1;
    }
    
    #oneTwo{
        grid-row: 3;
        grid-column: 1;
    }
    
    #oneThree{
        grid-row: 4;
        grid-column: 1;
    }
    
    #oneFour{
        grid-row: 5;
        grid-column: 1;
    }
    
    #oneFive{
        grid-row: 6;
        grid-column: 1;
    }
    
    #oneSix{
        grid-row: 7;
        grid-column: 1;
    }
    
    #twoOne{
        grid-row: 2;
        grid-column: 2;
    }
    
    #twoTwo{
        grid-row: 3;
        grid-column: 2;
    }
    
    #twoThree{
        grid-row: 4;
        grid-column: 2;
    }
    
    #twoFour{
        grid-row: 5;
        grid-column: 2;
    }
    
    #twoFive{
        grid-row: 6;
        grid-column: 2;
    }
    
    #twoSix{
        grid-row: 7;
        grid-column: 2;
    }

    /* table comparing ends */

    #fruta{
        grid-row: 3;
        grid-column: 3;
        width: 30vw;
        margin-top: 7.8vh;
        margin-left: 5vw;
        height: 91vh;
        flex-flow: column;
        align-items: center;
        overflow-x: hidden;
    }

    #handpick{
        grid-row: 4;
        grid-column: 1 / span 3;
    }

    #drying{
        grid-row: 5 / span 2;
        grid-column: 1 / span 2;
        width: 55vw;
    }

    #washedDrying{
        grid-row: 5;
        grid-column: 3;
    }

    #greenBeans{
        grid-row: 6;
        grid-column: 3;
        overflow: hidden;
    }

    #toasting{
        padding-left: 4vw;
        grid-row: 7;
        grid-column: 2 / span 2;
    }

    #toastedBeans{
        grid-row: 7;
        grid-column: 1;
        margin-top: 7.6vh;
        width: 25vw;
        height: 29vh;
        align-items: center;
        flex-flow: column nowrap;
        overflow-x: hidden;
    }

    #toastedBeans .polaroid{
        max-width: 80%;
    }

    #toastedProces{
        grid-row: 8;
        grid-column: 1 / span 2;
        width: 31vw;
    }

    #torrado{
        grid-row: 8;
        grid-column: 3;
        align-self: center;
    }

    #barista{
        grid-row: 9;
        grid-column: 1 / span 2;
        grid-column: 1 / span 2;
        padding-right: 2vw;
    }

    #baristaPics{
        grid-row: 9;
        grid-column: 3;
        height: 34vh;
        margin-top: 13vh;
        align-items: center;
    }

    /* polaroid style */

    .imageGallery{
        width: 100%;
        gap: 2vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
        align-items: stretch;
    }

    .imageGallery .polaroid{
        background-color: white;
        box-shadow: none;
        padding: 1vh 2%;
        min-width: 43.5%;
    }

    .imageGallery .polaroid img{
        min-width: 100%;
        height: auto;
    }

    .polaroid{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1vh 2vw;
        max-width: 89%;
    }

    .polaroid img{
        max-width: 100%;
        height: auto;
    }

    .container p{
        text-align: center;
        text-transform: capitalize;
        font-style: italic;
        font-size: 1vw;
    }

    /* polaroid style ends */

    /* main contenten ends */

    /* footer */

    footer {
        z-index: 2;
        grid-row: 3;
        gap: 2%;
        background-color: #E8E9EB;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        font-family:'Quicksand';
    }

    footer p{
        text-align: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: #361307;
        font-weight: lighter;
        text-transform: uppercase;
        gap: 2%;
    }

    #copyright {
        grid-row: 1;
        grid-column: 1;
        font-size: 1vw;
    }

    #phone {
        grid-row: 1;
        grid-column: 2;
        font-size: 1vw;
    }

    #slogan {
        grid-row: 2;
        grid-column: 1 / span 2;
        font-size: 1.5vw;
    }

    /* footer ends */   

}