/* main content */

.titles{
    height: 24vh;
    font-size: 3rem !important;
    background-size: 100% auto;
    border-top: 0.15vh solid #000000;
    border-bottom: 0.15vh solid #000000;
    color: #240D05;
    text-align: right;
    font-family: 'Neonderthaw';
    font-weight: normal;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    text-align: center !important;
    border: none !important;
}

.footNotes{
    font-size: 0.9rem;
    font-weight: lighter;
    text-align: justify; 
}

#titleCoffee{
    background-image: url(../Images/MenuCoffee.png);
    background-position: bottom;
}

#titleDrinks{
    background-image: url(../Images/MenuDrink.png);
}

#titleSweet{
    background-image: url(../Images/MenuSweet.png);
}

#titleSalt{
    background-image: url(../Images/MenuSalt.png);
    background-position: bottom;
}

/* main content ends*/

@media (min-width: 576px){
    
    #laCarta{
        margin-top: 5vh;
        margin-bottom: 5vh;
        border: 0.3vh solid #000000;
        border-radius: 50px;
    }

}

@media (min-width: 576px) and (max-width: 768px){

    .titles{
        font-size: 3rem !important;
    }
    
    .footNotes{
        font-size: 1.4rem;
    }

}

@media (min-width: 768px) and (max-width: 992px){

    .titles{
        font-size: 3.5rem !important;
    }

    .footNotes{
        font-size: 1.6rem;
    }

}

@media (min-width: 992px) and (max-width: 1200px){

    .titles{
        font-size: 4rem !important;
    }
    
    .footNotes{
        font-size: 1.8rem;
    }

}

@media (min-width: 1200px) and (max-width: 1400px){

    .titles{
        font-size: 4.5rem !important;
    }
    
    .footNotes{
        font-size: 2rem;
    }

}

@media (min-width: 1400px){

    .titles{
        font-size: 5rem !important;
    }
    
    .footNotes{
        font-size: 2.2rem;
    }

}