/* main content */

h1{
    color: #240D05 !important;
}

main{
    height: 80vh !important;
}

main p{
    text-align: justify;
    font-style: italic;
    color: #240D05 ;
    font-weight: 500;    
    font-size: 4vw;
}

legend{
    color: #361307;
    font-size: 3.8vw;
}

label{
    color: #361307;
}

fieldset{
    background-color: #E8E9EB;
    border-radius: 20px;
    border: none;        
}

#comentario{
    height: 30vh;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    resize: none;
}

#comentario:focus {
    border: 3px solid #D19C1D !important;
}

.button{
    width: 30%;
    border-radius: 8px;
    background-color: #D19C1D;
    border: none;
    color: #E8E9EB;
    text-decoration: none;
    cursor: pointer;
}

input:focus {
    border: 3px solid #D19C1D !important;
}

/* main content ends */

@media (min-width: 576px){
    
    main{
        height: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border: 0.3vh solid #000000;
        border-radius: 50px;
    }

}

@media (min-width: 576px) and (max-width: 768px){


    h1{
        font-size: 35px !important;
    }

    main p{    
        font-size: 25px !important;
    }

}

@media (min-width: 768px) and (max-width: 992px){

    h1{
        font-size: 45px !important;
    }

    main p{    
        font-size: 35px !important;
    }

}

@media (min-width: 992px) and (max-width: 1200px){

    h1{
        font-size: 50px !important;
    }

    main p{    
        font-size: 30px !important;
    }

}

@media (min-width: 1200px) and (max-width: 1400px){

    h1{
        font-size: 60px !important;
    }

    main p{    
        font-size: 30px !important;
    }

}

@media (min-width: 1400px){

   h1{
        font-size: 70px !important;
    }

    main p{    
        font-size: 40px !important;
    }

}