/*hero*/

#hero {
    width: 100vw;
    height: 90vh;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

@media (orientation: portrait){

    #hero {
        background-image: url(../Images/hero-01.png);
        background-position: bottom;
    }

}

@media (orientation: landscape){
    
    #hero {
        background-image: url(../Images/hero-02.png);
        background-position: center;
    }

}

/*hero ends*/

/* carousel */

#textCoffee{
    font-style: italic;
    z-index: 1;
    font-weight: 500;    
    font-size: 2VH;
}

/* carousel ends */

/* info */

.info{
    font-style: italic;
    text-align: center;
    z-index: 1;
    font-weight: 500;    
    font-size: 2vh;
}

#maps {
    z-index: 1;
    border-radius: 10px;
    max-width: 90vw;
    min-height: 50vw;
    margin-left: 3vw;
}

#textVideo {
    text-align: left;
}

#videoCafe {
    z-index: 1;
    border-radius: 10px;
    max-width: 90vw;
    min-height: 50vw;
    margin-left: 3vw;
}

/* info ends */

@media (min-width: 576px) and (max-width: 768px){

    
        /*info section*/
    
        .info{
            font-size: 15px !important;
        }
        
        #maps {
            max-width: 100%;
            max-height: 100%;
            margin-left: 0px;
        }
    
        #videoCafe {
            max-width: 100%;
            margin-left: 0px;
        }
    
        /*info section ends*/

}

@media (min-width: 768px) and (max-width: 992px){

    /*info section*/

    .info{
        font-size: 15px !important;
    }
    
    #maps {
        max-width: 100%;
        min-height: 95%;
        margin-left: 0px;
    }

    #videoCafe {
        width: 100%;
        margin-left: 0px;

    }

    /*info section ends*/

}

@media (min-width: 992px) and (max-width: 1200px){

    /*info section*/

    .info{
        font-size: 25px !important;
    }
    
    #maps {
        max-width: 100%;
        min-height: 95%;
        margin-left: 0px;
    }

    #videoCafe {
        width: 100%;
        margin-left: 0px;

    }

    /*info section ends*/

}

@media (min-width: 1200px) and (max-width: 1400px){

    /*info section*/

    .info{
        font-size: 30px !important;
    }
    
    #maps {
        max-width: 100%;
        min-height: 95%;
        margin-left: 0px;
    }

    #videoCafe {
        width: 100%;
        margin-left: 0px;

    }

    /*info section ends*/

}

@media (min-width: 1400px){

    /*info section*/

    .info{
        font-size: 40px !important;
    }
    
    #maps {
        max-width: 95%;
        min-height: 90%;
        margin-left: 0px;
    }

    #videoCafe {
        width: 100%;
        margin-left: 0px;

    }

    /*info section ends*/

}