@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  animation-duration: 2s;
  animation-name: starting;
  font-family: "Quicksand"; }

@keyframes starting {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes hoveringText {
  to {
    color: #D19C1D; } }

@media (orientation: landscape) {
  @keyframes hoveringButton {
    to {
      width: 4.5vw; } } }

@media (orientation: portrait) {
  @keyframes hoveringButton {
    to {
      width: 4.5vh; } } }

body {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 10vh auto 10vh; }

main {
  grid-row: 2;
  background-color: #D6DBDF;
  font-family: 'Quicksand';
  overflow-x: hidden; }

.mainTitle, .secondaryTitle {
  color: #E8E9EB;
  text-align: right;
  text-transform: capitalize;
  font-size: 2rem; }

.secondaryTitle:hover {
  animation-name: hoveringText;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: both; }

h3 {
  color: #240D05;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 1.8rem;
  font-family: "Josefin Slab"; }

h4 {
  color: #240D05;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 1.6rem;
  font-family: "Josefin Slab"; }

h5 {
  color: #240D05;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 1.4rem;
  font-family: "Josefin Slab"; }

p {
  color: #240D05;
  font-size: 1rem; }

form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5vh; }

.form-floating {
  border-radius: 20px !important; }

input {
  border-radius: 20px !important;
  height: 5vh !important;
  color: #240D05;
  font-size: 1rem; }

.form-control:focus {
  border-color: #D19C1D !important;
  -webkit-box-shadow: none !important;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important; }

legend {
  color: #240D05;
  font-weight: lighter;
  font-size: 1rem; }

fieldset {
  background-color: #D6DBDF;
  border: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5vh;
  border-radius: 20px;
  padding: 5% !important; }

label {
  color: #240D05;
  font-family: "Josefin Slab";
  font-weight: 700;
  font-size: 0.9rem; }

select {
  overflow: hidden; }
  select:focus {
    border-color: #D19C1D !important;
    -webkit-box-shadow: none !important;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important; }

textarea {
  font-size: 1rem;
  height: 30vh !important;
  border-radius: 4px;
  border-radius: 20px !important;
  box-sizing: border-box;
  border: 2px solid #D6DBDF;
  background-color: #D6DBDF;
  resize: none; }
  textarea:focus {
    border: 3px solid #D19C1D !important;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.buttons {
  width: 30%;
  border-radius: 8px;
  transition-duration: 0.2s;
  border: 0.3vh #D19C1D;
  border: none;
  color: #D19C1D;
  text-decoration: none;
  cursor: pointer; }
  .buttons:hover {
    background-color: #D19C1D;
    color: #E8E9EB;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.carousel {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important; }

.carousel-indicators {
  height: 0.5vh !important; }

.polaroid {
  background-color: #D6DBDF;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 2vh; }
  .polaroid img {
    max-width: 100%;
    max-height: 50vh; }
  .polaroid .container .black-caption {
    padding-top: 1vh;
    width: 100% !important;
    font-family: "Josefin Slab";
    font-weight: 500;
    text-align: center !important;
    text-transform: capitalize;
    color: #240D05; }

@media (orientation: portrait) {
  .icon1 {
    /*small icons*/
    width: 4.5vw;
    height: auto; } }

@media (orientation: landscape) and (min-width: 768px) {
  main {
    padding: 0vh 18vw !important; }
  .polaroid {
    filter: grayscale(100%);
    transition: filter 1s !important; }
    .polaroid:hover {
      filter: grayscale(0%); } }

@media (orientation: landscape) {
  .icon1 {
    /*small icons*/
    width: 3vh !important;
    height: auto !important; } }

#navbar {
  z-index: 3;
  grid-row: 1;
  max-width: 100vw;
  top: 0%;
  left: 0%;
  padding: 0.5vh 2vw;
  column-gap: 50vw;
  background-color: #361307;
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  #navbar .dropMenu {
    margin: 0px;
    height: 40%;
    width: auto; }
    #navbar .dropMenu img {
      width: auto;
      max-height: 95%; }
    #navbar .dropMenu #dropButton {
      top: 32%;
      width: 2.35%;
      height: 35%;
      position: absolute;
      background-color: rgba(255, 255, 255, 0);
      border: none; }
      #navbar .dropMenu #dropButton #menu {
        top: 185%;
        height: 95vh;
        opacity: 0;
        padding: 2vh 2vw;
        overflow: hidden;
        position: absolute;
        background-color: #240D05;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        transition: opacity 2s, transform 2s; }
        @media (orientation: landscape) {
          #navbar .dropMenu #dropButton #menu {
            width: 30vw;
            left: -32vw; } }
        @media (orientation: portrait) {
          #navbar .dropMenu #dropButton #menu {
            width: 45vw;
            left: -47vw;
            top: 194%; } }
        @media (min-width: 1400px) and (orientation: landscape) {
          #navbar .dropMenu #dropButton #menu {
            top: -92%;
            height: 100vh; } }
        #navbar .dropMenu #dropButton #menu .sections {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          list-style: none;
          padding: 5% 0px 0px 0px;
          row-gap: 5vh; }
          @media (min-width: 1400px) and (orientation: landscape) {
            #navbar .dropMenu #dropButton #menu .sections {
              padding: 10% 0px 0px 0px; } }
          #navbar .dropMenu #dropButton #menu .sections li a {
            text-decoration: none; }
          #navbar .dropMenu #dropButton #menu .sections .buttonText {
            text-transform: uppercase; }
            #navbar .dropMenu #dropButton #menu .sections .buttonText:hover {
              animation-name: hoveringText;
              animation-duration: 1s;
              animation-direction: alternate;
              animation-timing-function: linear;
              animation-fill-mode: both; }
          #navbar .dropMenu #dropButton #menu .sections #formasContacto {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 0px;
            column-gap: 5%; }
            #navbar .dropMenu #dropButton #menu .sections #formasContacto li {
              list-style-type: none; }
            #navbar .dropMenu #dropButton #menu .sections #formasContacto img {
              width: auto; }
              @media (orientation: landscape) {
                #navbar .dropMenu #dropButton #menu .sections #formasContacto img {
                  width: 4vw; } }
              @media (orientation: portrait) {
                #navbar .dropMenu #dropButton #menu .sections #formasContacto img {
                  width: 4vh; } }
              #navbar .dropMenu #dropButton #menu .sections #formasContacto img:hover {
                animation-name: hoveringButton;
                animation-duration: 1s;
                animation-direction: alternate;
                animation-timing-function: linear;
                animation-fill-mode: both; }
      @media (orientation: portrait) {
        #navbar .dropMenu #dropButton:hover #menu {
          transform: translateX(44.7vw);
          opacity: 1; } }
      @media (orientation: landscape) {
        #navbar .dropMenu #dropButton:hover #menu {
          transform: translateX(30vw);
          opacity: 1; } }
  #navbar #logoHome {
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: center; }
    #navbar #logoHome img {
      width: auto;
      height: 90%;
      transition: height 1s; }
      #navbar #logoHome img:hover {
        height: 115%;
        width: auto; }
    #navbar #logoHome h1:hover {
      animation-name: hoveringText;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-timing-function: linear;
      animation-fill-mode: both; }

h6 {
  color: #E8E9EB;
  text-align: left;
  font-weight: 400 !important;
  font-size: 1.5rem !important; }

@media (orientation: portrait) and (max-width: 576px) {
  h6 {
    font-size: 1rem !important; } }

@media (orientation: portrait) and (min-width: 576px) and (max-width: 768px) {
  #navbar {
    column-gap: 60vw; } }

@media (orientation: portrait) and (min-width: 768px) and (max-width: 992px) {
  #navbar #menu {
    top: 6.6vh; } }

@media (orientation: portrait) and (min-width: 992px) and (max-width: 1200px) {
  #navbar {
    column-gap: 60vw; }
    #navbar #dropButton:hover #menu {
      transform: translateX(42.9vw); } }

@media (orientation: portrait) and (min-width: 1200px) and (max-width: 1400px) {
  #navbar {
    column-gap: 60vw; } }

@media (orientation: portrait) and (min-width: 1400px) {
  #navbar {
    column-gap: 60vw; }
  h6 {
    font-size: 3rem !important; } }

@media (orientation: landscape) {
  #navbar h1 {
    font-size: 2rem; }
  #navbar h6 {
    font-size: 1rem !important; } }

footer {
  padding: 0vh 1vw;
  grid-row: 3;
  z-index: 2;
  column-gap: 20%;
  width: 100vw;
  background-color: #E8E9EB;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  overflow: hidden;
  display: grid; }
  footer p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #240D05;
    font-family: "Josefin Slab";
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    column-gap: 1vw;
    font-size: 0.8rem; }
  footer #copyright {
    grid-row: 1;
    grid-column: 1; }
  footer #phone {
    grid-row: 1;
    grid-column: 2; }
  footer #slogan {
    grid-row: 2;
    grid-column: 1 / span 2;
    font-size: 1rem; }

@media (min-width: 576px) {
  footer {
    column-gap: 40%; } }

#mainIndex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  row-gap: 2vh; }
  #mainIndex #hero {
    z-index: 1;
    height: 90vh;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    @media (orientation: portrait) {
      #mainIndex #hero {
        background-image: url(../Images/hero-01.png);
        background-position: bottom;
        background-size: contain; } }
    @media (orientation: landscape) {
      #mainIndex #hero {
        background-image: url(../Images/hero-02.png);
        background-position: center;
        background-size: 70%; } }
  @media (max-width: 992px) {
    #mainIndex #info {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding: 5vh 5vw;
      row-gap: 5vh; } }
  @media (min-width: 992px) {
    #mainIndex #info {
      display: grid;
      align-content: center;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 5vw;
      row-gap: 15vh; } }
  #mainIndex #info div p {
    font-style: italic;
    text-align: center;
    z-index: 1;
    font-weight: 500; }
  #mainIndex #info div iframe {
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  #mainIndex #info #indexStuff {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2%; }
    #mainIndex #info #indexStuff .buttons {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      width: 90%;
      background-color: #D19C1D;
      min-height: 5%;
      border-radius: 20px; }
      #mainIndex #info #indexStuff .buttons a {
        text-transform: capitalize;
        text-decoration: none; }
        #mainIndex #info #indexStuff .buttons a p {
          color: #E8E9EB;
          margin: 0px; }
    @media (max-width: 992px) {
      #mainIndex #info #indexStuff #recipes .carousel {
        border-radius: 20px; }
        #mainIndex #info #indexStuff #recipes .carousel img {
          max-height: 80vh;
          border-radius: 20px; } }
    @media (min-width: 992px) {
      #mainIndex #info #indexStuff {
        grid-row: 1;
        grid-column: 1; }
        #mainIndex #info #indexStuff #recipes {
          max-height: 80%; }
          #mainIndex #info #indexStuff #recipes .carousel {
            border-radius: 20px; }
            #mainIndex #info #indexStuff #recipes .carousel img {
              max-height: 80vh;
              border-radius: 20px; } }
  @media (max-width: 992px) {
    #mainIndex #info #maps {
      margin-top: 10vh; }
      #mainIndex #info #maps iframe {
        max-height: 90%;
        max-width: 100%; } }
  @media (min-width: 992px) {
    #mainIndex #info #maps {
      grid-row: 1;
      grid-column: 2;
      height: 110%; }
      #mainIndex #info #maps iframe {
        min-height: 94.5%; } }
  #mainIndex #info #videoCafe p {
    text-align: justify; }
  @media (max-width: 992px) {
    #mainIndex #info #videoCafe {
      height: auto; }
      #mainIndex #info #videoCafe iframe {
        max-height: 90%;
        max-width: 100%; } }
  @media (min-width: 992px) {
    #mainIndex #info #videoCafe {
      grid-row: 2;
      grid-column: 1 / span 2; }
      #mainIndex #info #videoCafe p {
        padding: 0vh 3vw; }
      #mainIndex #info #videoCafe iframe {
        height: 80%;
        min-width: 100%; } }

#mainCafe {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center; }
  #mainCafe h1 {
    color: #240D05;
    margin: 5vh 0vw;
    font-weight: normal !important; }
  #mainCafe h3 {
    width: 100%;
    text-align: left !important; }
  #mainCafe h4 {
    width: 100%;
    text-align: left !important; }
  #mainCafe p {
    text-align: justify; }
  #mainCafe li {
    list-style: none;
    text-align: justify !important; }
  @media (orientation: portrait) {
    #mainCafe {
      padding: 5vh 5vw;
      row-gap: 5vh; }
      #mainCafe section {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 2vh; }
        #mainCafe section .carousel {
          width: 100%; }
          #mainCafe section .carousel p {
            padding: 1vh 0vw !important;
            margin: 0px !important;
            font-size: 3vw !important; }
      #mainCafe #barista h4 {
        width: 55%; }
      #mainCafe #barista p {
        width: 55%; }
      #mainCafe #barista .carousel {
        overflow: hidden;
        width: 55%;
        height: 40vh; }
        #mainCafe #barista .carousel img {
          margin-top: -350px; }
      #mainCafe #toasting .carousel-caption {
        padding: 1vh 0vw;
        width: 100%;
        height: 20%;
        left: 0px;
        top: 0px;
        position: absolute;
        background-color: white; }
        #mainCafe #toasting .carousel-caption p {
          text-align: center !important; } }
  @media (orientation: landscape) {
    #mainCafe {
      row-gap: 5vh; }
      #mainCafe #us {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center; } }
    @media (orientation: landscape) and (min-width: 768px) {
      #mainCafe #us {
        flex-flow: row nowrap;
        column-gap: 5vw; }
        #mainCafe #us .carousel {
          width: 30%;
          border-radius: 20px; }
          #mainCafe #us .carousel img {
            border-radius: 20px; }
        #mainCafe #us p {
          width: 60%; } }
  @media (orientation: landscape) {
      #mainCafe #coffeePlant {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center; } }
    @media (orientation: landscape) and (min-width: 768px) {
      #mainCafe #coffeePlant {
        flex-flow: row wrap;
        column-gap: 5vw; }
        #mainCafe #coffeePlant h4 {
          width: 100%; }
        #mainCafe #coffeePlant p {
          width: 100%; }
        #mainCafe #coffeePlant section {
          width: 100%; }
          #mainCafe #coffeePlant section div div {
            padding-left: 1vw !important; }
          #mainCafe #coffeePlant section div .split {
            padding-right: 1vw;
            padding-left: 0vw;
            border-right: solid 0.2vw #240D05; }
        #mainCafe #coffeePlant .carousel {
          width: 45%; } }
  @media (orientation: landscape) {
      #mainCafe #drying {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center; } }
    @media (orientation: landscape) and (min-width: 768px) {
      #mainCafe #drying {
        flex-flow: row wrap;
        align-items: flex-start;
        column-gap: 5vw; }
        #mainCafe #drying p {
          width: 100%; }
        #mainCafe #drying ul {
          margin-top: 2vh;
          width: 50%; }
          #mainCafe #drying ul li {
            margin-bottom: 5vh; }
        #mainCafe #drying div {
          width: 40%; }
          #mainCafe #drying div .container {
            width: 100% !important; } }
  @media (orientation: landscape) {
      #mainCafe #greenBean {
        width: 100%;
        height: 30vh;
        overflow: hidden; }
        #mainCafe #greenBean img {
          margin-top: -50%; }
      #mainCafe #toasting {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 10vh auto auto;
        row-gap: 0;
        column-gap: 5vh; } }
    @media (orientation: landscape) and (min-width: 768px) {
      #mainCafe #toasting {
        flex-flow: row nowrap; }
        #mainCafe #toasting h4 {
          grid-row: 1;
          grid-column: 1 / span 2; }
        #mainCafe #toasting #p1 {
          grid-row: 2;
          grid-column: 1; }
        #mainCafe #toasting .carousel {
          margin: -30% 20% 5% 20% !important;
          grid-row: 2;
          grid-column: 2;
          margin-top: -10vh;
          filter: grayscale(100%);
          transition: filter 1s !important; }
          #mainCafe #toasting .carousel:hover {
            filter: grayscale(0%); }
          #mainCafe #toasting .carousel .carousel-caption {
            padding: 1vh 0vw;
            width: 100%;
            height: 20%;
            left: 0px;
            top: 0px;
            position: absolute;
            background-color: white; }
            #mainCafe #toasting .carousel .carousel-caption p {
              text-align: center !important; }
        #mainCafe #toasting #p2 {
          grid-row: 3;
          grid-column: 1 / span 2; } }
  @media (orientation: landscape) {
      #mainCafe #toasted {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center; } }
    @media (orientation: landscape) and (min-width: 768px) {
      #mainCafe #toasted {
        flex-flow: row nowrap;
        gap: 5vw; } }
  @media (orientation: landscape) and (min-width: 768px) {
    #mainCafe #barista {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 10vh auto;
      row-gap: 0;
      padding-bottom: 5vh;
      column-gap: 5vh; }
      #mainCafe #barista h4 {
        grid-row: 1;
        grid-column: 1; }
      #mainCafe #barista p {
        grid-row: 2;
        grid-column: 1; }
      #mainCafe #barista .carousel {
        overflow: hidden;
        grid-row: 1 / span 2;
        grid-column: 2; } }

#mainCarta {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  row-gap: 5vh;
  padding-top: 5vh !important;
  padding-bottom: 5vh !important; }
  #mainCarta h1 {
    color: #240D05;
    font-family: 'Neonderthaw' !important;
    font-weight: normal;
    text-align: center !important;
    font-size: 5rem !important; }
  #mainCarta .titles {
    height: 30vh;
    border-top: 0.15vh solid #000000;
    border-bottom: 0.15vh solid #000000;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; }
    @media (orientation: portrait) {
      #mainCarta .titles {
        background-size: cover; } }
    @media (orientation: landscape) {
      #mainCarta .titles {
        background-size: contain; } }
    @media (min-width: 768px) {
      #mainCarta .titles {
        border: 0.15vh solid #240D05;
        border-radius: 20px; } }
    #mainCarta .titles h3 {
      color: #240D05;
      padding-top: 2vh;
      padding-right: 2vw;
      text-align: right;
      font-family: 'Neonderthaw' !important;
      font-weight: normal;
      font-size: 4rem !important; }
  @media (orientation: landscape) {
    #mainCarta #titleCoffee {
      background-image: url(../Images/MenuCoffee2.png); } }
  @media (orientation: portrait) {
    #mainCarta #titleCoffee {
      background-image: url(../Images/MenuCoffee1.png);
      background-position: bottom; } }
  #mainCarta #titleCoffee h3 {
    padding-top: 6vh; }
  @media (orientation: landscape) {
    #mainCarta #titleDrinks {
      background-image: url(../Images/MenuDrink2.png); } }
  @media (orientation: portrait) {
    #mainCarta #titleDrinks {
      background-image: url(../Images/MenuDrink1.png); } }
  @media (orientation: landscape) {
    #mainCarta #titleSweet {
      background-image: url(../Images/MenuSweet2.png); } }
  @media (orientation: portrait) {
    #mainCarta #titleSweet {
      background-image: url(../Images/MenuSweet1.png); } }
  @media (orientation: landscape) {
    #mainCarta #titleSalt {
      background-image: url(../Images/MenuSalt2.png); } }
  @media (orientation: portrait) {
    #mainCarta #titleSalt {
      background-image: url(../Images/MenuSalt1.png);
      background-position: bottom; } }
  #mainCarta .footNotes {
    font-weight: lighter;
    text-align: justify;
    font-size: 0.9rem; }
  #mainCarta .prices {
    text-align: right; }

#mainSuscription {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  padding: 5.5%; }
  #mainSuscription h1 {
    text-align: center !important;
    color: #240D05;
    font-weight: normal;
    margin: 5vh 0vw; }
  #mainSuscription p {
    text-align: justify; }
  #mainSuscription #adress {
    border-radius: 20px;
    border: solid 0.2vh #240D05; }
  #mainSuscription #coffeeQuant {
    border-radius: 20px; }
  #mainSuscription #coffeeQuant:focus {
    border: 3px solid #D19C1D !important; }

#mainContacto {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  padding: 5.5%;
  min-height: 80vh !important; }
  #mainContacto h1 {
    text-align: center !important;
    color: #240D05;
    font-weight: normal;
    margin: 5vh 0vw; }
  #mainContacto p {
    text-align: justify; }
  #mainContacto fieldset {
    background-color: #D6DBDF;
    border-radius: 20px;
    border: none; }
