
* {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    animation-duration: 2s;
    animation-name: starting;
    font-family: $primaryTypo;
}

@keyframes starting{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hoveringText {
    to {color: map-get($colours, gold);}
}

@media (orientation: landscape){
    
    @keyframes hoveringButton {
        
        to {width: 4.5vw;}

    }

}

@media (orientation: portrait){
    
    @keyframes hoveringButton {
        
        to {width: 4.5vh;}

    }

}

body {
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 10vh auto 10vh;
}

main {
    grid-row: 2;
    background-color: map-get($colours, background);
    font-family: 'Quicksand';
    overflow-x: hidden;
}

.mainTitle {
    color: map-get($colours, platinum);
    text-align: right;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.secondaryTitle{
    @extend .mainTitle;
    &:hover{
        animation-name: hoveringText;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
}

h3{
    color: map-get($colours, brown2);
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1.8rem;
    font-family: $titles;
}

h4{
    color: map-get($colours, brown2);
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1.6rem;
    font-family: $titles;
}

h5{
    color: map-get($colours, brown2);
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1.4rem;
    font-family: $titles;
}

p{
    color: map-get($colours, brown2);
    font-size: 1rem;
}

// forms stuff

form{
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5vh;
}

.form-floating{
    border-radius: 20px !important;
}

input{
    border-radius: 20px !important;
    height: 5vh !important;
    color: map-get($colours, brown2);
    font-size: 1rem;
}

.form-control:focus { //changes the blueish focus on forms
    border-color:  map-get($colours, gold) !important;
    -webkit-box-shadow: none !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

legend{
    color:  map-get($colours, brown2);
    font-weight: lighter;
    font-size: 1rem;
}

fieldset{
    background-color:  map-get($colours, background);
    border: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5vh;
    border-radius: 20px;
    padding: 5% !important;
}

label{
    color: map-get($colours, brown2);
    font-family: $titles;
    font-weight: 700;
    font-size: 0.9rem;
}

select{
    overflow: hidden;
    &:focus{
        border-color:  map-get($colours, gold) !important;
        -webkit-box-shadow: none !important;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
    }
}

textarea{
    font-size: 1rem;
    height: 30vh !important;
    border-radius: 4px;
    border-radius: 20px !important;
    box-sizing: border-box;
    border: 2px solid  map-get($colours, background);
    background-color:  map-get($colours, background);
    resize: none;
    &:focus{
        border: 3px solid  map-get($colours, gold) !important;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}

.buttons{
    width: 30%;
    border-radius: 8px;
    transition-duration: 0.2s;
    border: 0.3vh map-get($colours, gold);
    border: none;
    color: map-get($colours, gold);
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color:  map-get($colours, gold);
        color:  map-get($colours, platinum);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}

// forms ends

.carousel{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.carousel-indicators{
    height: 0.5vh !important;
}

.polaroid{
    background-color:  map-get($colours, background);
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 2vh;
    img{
        max-width: 100%;
        max-height: 50vh;
    }
    .container{
        .black-caption{
            padding-top: 1vh;
            width: 100% !important;
            font-family: $titles;
            font-weight: 500;
            text-align: center !important;
            text-transform: capitalize;
            color:  map-get($colours, brown2);
        }
    }
}

@media (orientation: portrait){
    
    .icon1 { /*small icons*/
        width: 4.5vw;
        height: auto;
    }

}

@media (orientation: landscape){

    @media (min-width: 768px){

        main {
            padding: 0vh 18vw !important;
        }

        .polaroid{
            filter: grayscale(100%);
            transition: filter 1s !important;
            &:hover{
                filter: grayscale(0%);
            }
        }
    }

    .icon1 { /*small icons*/
        width: 3vh !important;
        height: auto !important;
    }

}

